<div class="container">
	<h1>New Dojo</h1>
	<form action="/dojos" method="post">
	 <input type= "hidden" name= "authenticity_token" value="<%= form_authenticity_token %>">
	  <div class="form-group">
	    <label for="branch">Branch:</label>
	    <input type="text" class="form-control" id="branch" name="dojo[branch]">
	  </div>
	  <div class="form-group">
	    <label for="street">Street:</label>
	    <input type="text" class="form-control" id="street" name="dojo[street]">
	  </div>
	  <div class="form-group">
	    <label for="city">City:</label>
	    <input type="text" class="form-control" id="city" name="dojo[city]">
	  </div>
	  <div class="form-group">
	    <label for="state">State:</label>
	    <input type="text" class="form-control" id="state" name="dojo[state]">
	  </div>
	  <button type="submit" class="btn btn-default">Create</button>
	</form>

	<hr>
	<a href="/dojos">go back</a>
</div>
